.A { 
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    text-emphasis-color: white;
    justify-content: center; 
    align-items: center;       
    text-align: center;
}
.B { 
   background-color: black; 
   width: 800px;
   height: 600px;
   display: flex; 
   gap: 10px;
   color: white; 
   text-emphasis-color: white;
   max-width: 800px;
   margin: 0 auto;
   
   
}
body {
    background-color: black;
    color: white;
}
.CAT{
    width: 1000px;
    height: 260px;
}

.C{ 
    font-family: Arial, sans-serif;
}

