body {
    margin: 0;
    padding: 0;
    
}
.Heder {
    background-color: #6B0504;
    color: #F7F0F0;
    align-items: right;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    
}
.rubrik {
    text-align: left;
    padding-left: 20px;
    color: #E6AF2E;
}
.nav {
    display: flex;
    margin-left: 20px;
    color: aliceblue;
    align-items: center;
}
.nav a {
    display: inline-block;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    align-items: center;
}



/* Commodore */
.Commodore {
    color: black;
    width: 300px;
    height: 300px;
    background-color: #572e2e;
    padding: 20px;
    
}

.Cheap-Computer {
    width: 300px;
    height: 300px;
}

.footer {
    background-color: #2E4057;
    color: #E6AF2E;
    text-align: center;
    padding: 100px;
    display: flex;
    justify-content: right;
    list-style-position: inside;

}

.rubrik2 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}
.footer-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}